.btn-primary {
	background: #64ABAD;
	border-color: #64ABAD;
}

.btn-success {
	background: #FA8219;
	border-color: #FA8219;
}

.list-group-item.active {
	background: #64ABAD;
	// border-color: #64ABAD;	
}